
*{margin: 0; padding: 0; font-family: 'Roboto Condensed', sans-serif;max-height: 700px;}

#h-container,#s-container,#f-container{display: block;position: relative; height:200px;max-width: 70%; margin: auto;}
#h-container{background:linear-gradient(#fff,#fff,#fff,#fff,#fff,#fff,#fff,#ccc);}
#s-container{margin-bottom: 5px;padding-top: 10px;min-height:700px; background: linear-gradient(#ccc,#ccc,#fff);}
footer{margin-top: 10px;margin-bottom: 0px;background:linear-gradient(#fff,#F06125,#F06125,#F06125,#F06125,#F06125,#F06125,#F06125,#F06125,#F06125,#F06125,#F06125);}

#h-container img{width: 300px;height: 175px;}
/* MENU */
#h-container nav h1{display: none;}
#h-container nav ul {float: right; margin-top: -50px;}
#h-container nav ul li{display: inline;}
#h-container nav ul li a{padding: 10px 30px; text-decoration: none; letter-spacing: 3px;font-weight: bold; color: #fff; background: #ccc;border-bottom: 2px solid #ccc;border-bottom: 2px solid #fff;}
#h-container nav ul li a:hover{border-bottom-color: red;}
#h-container nav ul li ul{display: none;}
#h-container nav ul li:hover ul{display: block;position: absolute;right: 0;bottom: 93px;}
#h-container nav ul li:hover ul li a {letter-spacing: 2px}
#h-container nav ul .dropbox:hover >ul li a{padding: 10px 25px;}
#h-container nav ul .dropbox+.dropbox:hover >ul li a{padding: 10px 15px;}





/* h1 h2 h3 h4 h5 */
h1,h2{margin:30px 50px;padding: 10px;padding-left: 100px;background: #FFF;}
h2{padding-left: 0px;}
h1 span{margin-left:150px;}
h1 span > span{margin-left:0;color: #00f;}
h2.exp{margin:0;text-align: center;background-color:rgb(255,255,255);}
h2.html{text-align: center;background-color:rgb(240,97,37);}
h2.css{text-align: center;background-color:rgb(43,169,227);}


/* SECTION */
#exp{display: block;position: relative;margin:auto;min-height: 100px;max-height: 1600px; width: 80%; border:1px solid #000;background: #eee;}
#exp p{margin: 30px 50px;color: #252525;text-align: justify;text-indent:50px;}
#exp p span{ margin-left: 30px;color: rgb(43,169,227);}


#html,#css{display: inline-block;position: relative; width: 45%;}
#html{margin-left: 4.5%;}
#css{margin-right: 4.5%;}
textarea{display: block;position: relative;margin-left:50px;padding: 10px 50px;min-height:200px; min-width: 60%;resize: none;background-color: #fff;border: 0;}
section nav {display: block;}
section nav ul{display: block;margin: 30px 50px;min-height: 200px;background:#FFF;}
section nav ul li{display: block;margin: 0.1% 0;width: 68.3%;text-align: center;border-bottom: 2px solid #FFF;}
section nav ul li a{display: block;width: 100%;padding:15px 50px;color: #252525;letter-spacing: 5px;text-align: center;font-weight: bold;}
section #html nav ul li a:hover{background: #ddd;color: rgb(240,97,37);border-left: 1px solid rgb(240,97,37);border-right: 1px solid rgb(240,97,37);}
section #css  nav ul li a:hover{background: #ddd;color: rgb(43,169,227);border-left: 1px solid rgb(43,169,227);border-right: 1px solid rgb(43,169,227);}

.center{z-index: 9999;display: block;width: 85%;margin: auto;}



#f-container div{display: inline-block;margin:auto;margin-top: 60px;padding: 15px;min-width: 150px; background-color: rgba(255,255,255, .3);border: 5px ridge #aaa;border-radius: 5px;}
#f-container >div{margin-left: 28%;}
#f-container >div+div{margin-left: 30px;margin-right: 20%;}
#f-container >div>h3{color: #252525;font-weight: normal;}
#f-container >div>p{padding-left: 20px;font-size: 14px;color: #252525;}