.heading {
    color: #000000;
    font-family: Verdana;
    font-size: 13px;
}
.subheading {
    color: #339999;
    font-family: Verdana;
    font-size: 13px;
}

.script{
    font-family: Verdana;
    font-size: 13px;
    display: block;
}
.wordlist{
    font-family: Verdana;
    font-size: 13px;
    display: block;
}
.blue{
    color: #0000FF;
    font-family: Verdana;
    font-size: 13px;
    display: block;
}

