<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Empresa</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>

<div class="container">

	<!-- SESSÃO HEADE (TOPO) -->
	<header id="topo">
		<div class="row">
			<div class="col-md-12 pull-left">
				<a href="index.html">
					<img src="image/logo.png"  alt="logo da empresa" class="logo">
					<img src="image/logotipo.png" alt="logotipo" id="logotipo" class="">
				</a>
			</div>
    	</div>
	</header>
	</div>
	
	<!-- SESSÃO NAV (NEVAGEÇÃO PRINCIPAL) -->
	<nav id="nav" class="blue" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills pull-right">
						<li><a href="index.html">Página Inicial</a></li>
						<li><a href="empresa.html">Empresa</a></li>
						<li><a href="passagens.html">Passagens Aéreas</a></li>
						<li><a href="pacotes.html">Promoções</a></li>						
						<li><a href="fale.html">Fale Conosco</a></li>						
					</ul>
				</div>
			</div>
		</div>
	</nav>
		
	<!-- SESSÃO CONTENT (CONTEUDO) -->
	<main id="conteudo">

	<div class="container">
	<div class="page-header">
		<h1>Empresa</h1>
	</div>

	<h3>Sobre a Higuer</h3>


	<img class="passageiros" src="image/passageiros.jpg" alt="">
	<p>
		Nosso objetivo é simples, ajudar as pessoas a comprar passagens aéreas mais baratas.
	</p>


	<p>
		 No higher.com.br você encontra passagens em promoção para destinos em todo o mundo. Planeje aquela viagem tão desejada. Seja voando para o Rio de Janeiro, São Paulo, Salvador, Fortaleza ou qualquer destino pelo Brasil e por todos os continentes, sempre com o melhor preço.
	</p>
	<p>
		Realize sua viagem com a gente e tenha sempre uma opção em passagens promocionais. Aqui você conseguirá acordos exclusivos feitos com diversas linhas aéreas e poderá comprar sua passagem com toda a comodidade que a higher pode oferecer. Em um só lugar, companhias aéreas de todo o mundo, alertas de promoções próximas a data da sua viagem, ótimos preços e parcelamento sem juros no cartão de crédito!
	<p>
		Atenciosamente,<br>
 		Equipe da Higuer.
	</p>
	<br class="clearfix">
	</div><!-- fecha class container -->
	</main><!-- fecha id #conteudo -->

	
	<!-- SESSÃO FOOTER (RODAPE) -->
	<footer id="footer">
		<div class="container">
			<div class="text-center"> 		
				<img src="image/rodapé.jpg" alt="">
				<p class="text-muted">
				Copyright © 2000 - 2013 www.higuer.com.br, TODOS OS DIREITOS RESERVADOS. As fotos, imagens, logotipos, marca, conjunto imagem, layout e trade dress aqui veiculados são de propriedade exclusiva. É vedada qualquer reprodução, total ou parcial, de qualquer elemento de identidade, sem expressa autorização. 
				</p>
			</div>
		</div>
	</footer>

<!-- Scripts -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bg-move.js"></script>


</body>
</html>