<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Pacotes</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/estilo.css">
</head>
<body>

<div class="container">

	<!-- SESSÃO HEADE (TOPO) -->
	<header id="topo">
		<div class="row">
			<div class="col-md-12 pull-left">
				<a href="index.html">
					<img src="image/logo.png"  alt="logo da empresa" class="logo">
					<img src="image/logotipo.png" alt="logotipo" id="logotipo" class="">
				</a>
			</div>
    	</div>
	</header>
	</div>
	
	<!-- SESSÃO NAV (NEVAGEÇÃO PRINCIPAL) -->
	<nav id="nav" class="blue" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills pull-right">
						<li><a href="index.html">Página Inicial</a></li>
						<li><a href="empresa.html">Empresa</a></li>
						<li><a href="passagens.html">Passagens Aéreas</a></li>
						<li><a href="pacotes.html">Promoções</a></li>						
						<li><a href="fale.html">Fale Conosco</a></li>						
					</ul>
				</div>
			</div>
		</div>
	</nav>
		
	<!-- SESSÃO CONTENT (CONTEUDO) -->
	<main id="conteudo">

	<div class="container">
	<div class="page-header">
		<h1>Promoções</h1>
	</div>

		<div class="row">
			<div class="col-md-4">
				<img src="image/disney.jpg" alt="">
				<p><h4>Disney – Orlando/Flórida</h4>
					Aéreo + 4 diárias (3 noites) para casal pensão completa + ingreços para os parques – Magic Kindown, Epicot Center, Universal Studio.
				</p>
				<p>
					<strong>Por 10x de R$135,00 s/ juros no cartão.</strong>
				</p>
				<p>
					<br><a href="pacotes.html" class="btn btn-primary btn-sm">Compre Agora.</a>
				</p>
			</div>


			<div class="col-md-4">
				<img src="image/ubatuba.jpg" alt="">
				<p>
					<h4>Ubatuba – Litoral/SP</h4>
					Revellionv Aéreo + 4 diárias (3 noites) de 31/12/2013 á 02/01/2014, pensão completa + ceia de ano novo+ free vodka, para 1 pessoa.
				</p>
				<p>
					<strong>Por 10x de R$205,90.</strong>
				</p>
				<p>
					<br><a href="pacotes.html" class="btn btn-primary btn-sm">Compre Agora.</a>
				</p>
			</div>

			<div class="col-md-4">
				<img src="image/campos.jpg" alt="">
				<p>
					<h4>Campos do Jordão</h4>
					Aéreo + 4 Diárias (3 noites) para casal + chek-in romântico ( com 2 taças de champanhe), cama com pétalas de rosas, meia pensão.
				</p>
				<p>
					<strong>Por 6x de R$120,00.</strong>
				</p>
				<p>
					<br><a href="pacotes.html" class="btn btn-primary btn-sm">Compre Agora.</a>
				</p>
			</div>
		</div>

		<br>
		<br>

		<div class="row">
			<div class="col-md-4">
				<img src="image/porto.jpg" alt="">
				<p>
					<h4>Porto Seguro – Bahia/Brasil</h4>
					Aéreo + 3 diárias(2 noites)+ passeio de escuna, meia pensão, p/ casal.
				</p>
				<p>
					<strong>Por 6x de R$80,00.</strong>
				</p>
				<p>
					<br><a href="pacotes.html" class="btn btn-primary btn-sm">Compre Agora.</a>
				</p>
			</div>

			<div class="col-md-4">
				<img src="image/cancun.jpg" alt="">
				<p><h4>Cacun – México</h4> 
					Aéreo +5 diárias(4 noites) p/ casal pensão completa + passeios diários.
				</p>
				<p>
					<strong>Por 10x de R$180,00.</strong>
				</p>
				<p>
					<br><a href="pacotes.html" class="btn btn-primary btn-sm">Compre Agora.</a>
				</p>
			</div>

			<div class="col-md-4">
				<img src="image/foz-iguaçu.jpg" alt="">
				<p>
					<h4>Foz do Iguaçu – SC/Brasil</h4>
					Aéreo + 3 diárias (2 noites) + passeio até as cataratas para casal, meia pensão.
				</p>
				<p>
					<strong>Por 6x de R$77,90.</strong>
				</p>
				<p>
				<br><a href="pacotes.html" class="btn btn-primary btn-sm">Compre Agora.</a>
				</p>
			</div>
			
		</div>

	<br class="clearfix">
	</div><!-- fecha class container -->
	</main><!-- fecha id #conteudo -->
	

	<!-- SESSÃO FOOTER (RODAPE) -->
	<footer id="footer">
		<div class="container">
			<div class="text-center"> 		
				<img src="image/rodapé.jpg" alt="">
				<p class="text-muted">
				Copyright © 2000 - 2013 www.higuer.com.br, TODOS OS DIREITOS RESERVADOS. As fotos, imagens, logotipos, marca, conjunto imagem, layout e trade dress aqui veiculados são de propriedade exclusiva. É vedada qualquer reprodução, total ou parcial, de qualquer elemento de identidade, sem expressa autorização. 
				</p>
			</div>
		</div>
	</footer>

<!-- Scripts -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/bg-move.js"></script>


</body>
</html>