<!DOCTYPE html>
<!--pesquisar sobre font faces-->

<html>
<head>
	<meta charset="UTF-8">
	<title>FATEC/RL</title>
	<link rel="stylesheet"href="css/estilo.css"> 
	
</head>

<body>
<div id="container">	
	<a id="topo"></a>

	<!--
	Origem dos textos e imagens:

	"Centro Estadual de Educação Tecnológica Paula Souza" - Wikipedia.org e site oficial da instituição
	"FATEC-BS" - adaptação livre de Wikipedia.org e site oficial da instituição
	-->

	<h1 class="cabeçalho-secao">
	Centro Estadual de Educação Tecnológica Paula Souza
	</h1>

	<h2>Sobre o <abbr title="Centro Estadual de Educação Tecnológica Paula Souza">CEETEPS</abbr></h2>

	<p>
	<img src="imagens/ceeteps-1.jpg" alt="Centro Estadual de Educação Tecnológica Paula Souza (CEETEPS)" title="Centro Estadual de Educação Tecnológica Paula Souza (CEETEPS)" class = "img-destaque1">
	O Centro Estadual de Educação Tecnológica Paula Souza (CEETEPS) é uma autarquia do governo do estado de São Paulo vinculada à Secretaria de Desenvolvimento Econômico, Ciência e Tecnologia que administra as Escolas Técnicas Estaduais (ETEC) e as Faculdades de Tecnologia (FATEC) do mesmo estado.
	</p>

	<p>
	A instituição foi idealizada em 1963 e começou as suas atividades em 1969. A denominação "Centro Paula Souza" aconteceu em 1971 para homenagear Francisco de Paula Souza, fundador da Escola Politécnica da Universidade de São Paulo.
	</p>

	<p>
	A sede do Centro Paula Souza está localizada no prédio que era utilizado por essa instituição até a transferência desta para a "Cidade Universitária".
	</p>

	<p>
	<strong>Centro Estadual de Educação Tecnológica Paula Souza</strong><br>
	Rua dos Andradas, 140 - Santa Ifigênia<br>
	Telefone: (11) 3324-3300<br>
	Site: <a href="http://www.centropaulasouza.sp.gov.br" title="Centro Estadual de Educação Tecnológica Paula Souza">http://www.centropaulasouza.sp.gov.br</a>
	</p>

	<h2 class="cabeçalho-secao">Sobre a FATEC-BS</h2>

	<p>
		<img src="imagens/fatec-bs-1.jpg" alt="Faculdade de Tecnologia da Baixada Santista - Rubens Lara (FATEC/BS)" title="Faculdade de Tecnologia da Baixada Santista - Rubens Lara (FATEC/BS)"class = "img-destaque1">
		A Faculdade de Tecnologia da Baixada Santista - Rubens Lara (FATEC/BS) situa-se na cidade de Santos, no litoral da Baixada Santista e foi implantada em julho de 1987 como uma unidade do Centro Estadual de Educação Tecnológica Paula Souza, instituição de ensino Superior.
	</p>

	<p>
		O primeiro curso a ser oferecido foi o de Tecnologia em Processamento de Dados, reconhecido através da Portaria 354, de 9 de março de 1994.
	</p>

	<p>
		Atualmente são oferecidos os seguintes cursos:
	</p>

	<ul>
		<li>ADS</li>
		<li>SI</li>
		<li>GE</li>
	</ul>

	<p>
		<strong>FATEC Baixada Santista - Rubens Lara</strong><br>
		Av. Bartolomeu de Gusmão, 110 - Aparecida<br>
		Telefone: (13) 3227-6003<br>
		Site: <a href="http://www.fatecrl.edu.br">http://www.fatecrl.edu.br</a>
	</p>

	<a href="#topo">Topo da página</a> 

</body>
</div>
</html>