
	footer{
		width: 980px;
		height: 300px;
		position: relative;
	}
	footer #mapasite{
		margin-left: 100px;
		width: 410px;
	}
	footer #mapasite  nav,footer #mapasite  div{
		width: 200px;
		display: inline-table;
	}
	footer #mapasite nav +nav {
		border-left: 1px dotted black;
	}
	footer #mapasite  nav h1{
		margin-bottom: 5px;
		text-align: center;
		font-size: 13pt;
	}
	footer #mapasite  nav ul{
		margin-top: 0;
	}
	footer #mapasite  nav li{
		display: block;
		padding: 0;
		line-height: 20px;
		background: none;
		text-align: center;
	}
	footer #mapasite  nav ul li a{
		font-size: 10pt;
		letter-spacing: 3px;
	}
	
	footer #mapasite+div{
		position: absolute;
		top: -5px;
		right: 180px;
		width: 250px;
		height: 250px;
	}
	footer #social{
		position: relative;
		margin-bottom: -70px;
	}
	footer #social a{
		text-decoration: none;
	}
	#validador img{
		
		position: relative;
		margin-left: 65px;
	}
	
	
	@media screen and (min-width: 100px) and (max-width: 250px){
		#validador img{display: none;}
		footer,#mapasite{ width: 100%;}
		footer #mapasite{ width:100%;}
		footer #mapasite+div{position: relative;}
	}
	@media screen and (min-width: 251px) and (max-width: 400px){
		#validador img{display: none;}
		footer{height: 550px; margin-left: 5%;clear: both;}
		footer>div>h4{margin-top: 20px;}
		footer>h6{display: block;,position: relative;margin:10px 0;margin-top: 30px;padding: 0 0;}
		footer,footer div#mapasite{ width: 95%;margin: 0 0;padding: 0 0;}
		footer div#mapasite>nav{ width:95%;margin-top: 20px;}
		footer #mapasite+div{position: static;display: block;margin: 20px auto; 
			width: 221px;height: 100px;}
		footer #mapasite+div>p{position: static;height:70px;}
		footer #mapasite+div>p+p{display: none;}
		footer #mapasite+div>p>a>img{height:50px;width: 70px;}
		
		footer #social{width: 100%;display: block;position: relative;margin: 0 auto ;	padding: 0 0 0 0;}
	}
	@media screen and (min-width: 401px) and (max-width: 560px){
		#validador img{display: none;}
		footer{height: 375px; margin-left: 5%;clear: both;}
		footer>div>h4{margin-top: 20px;}
		footer>h6{display: block;,position: relative;margin:10px 0;margin-top: 30px;padding: 0 0;}
		footer,footer div#mapasite{ width: 95%;margin: 0 0;padding: 0 0;}
		footer div#mapasite>nav{ width:45%;margin-top: 20px;float: left;}
		footer div#mapasite>nav+nav{ width:55%;}
		footer #mapasite+div{position: static;display: block;margin: 20px auto; 
			width: 221px;height: 100px;}
		footer #mapasite+div>p{position: static;height:70px;}
		footer #mapasite+div>p+p{display: none;}
		footer #mapasite+div>p>a>img{height:50px;width: 70px;}
		
		footer #social{clear: both;width: 100%;display: block;position: relative;margin: 0 auto ;	padding: 0 0 0 0;}
	}
	@media screen and (min-width: 561px) and (max-width: 720px){
		#validador img{display: none;}
		footer{height: 375px; margin-left: 5%;clear: both;}
		footer>div>h4{margin-top: 20px;}
		footer>h6{display: block;,position: relative;margin:10px 0;margin-top: 30px;padding: 0 0;}
		footer,footer div#mapasite{ width: 95%;margin: 0 0;padding: 0 0;}
		footer div#mapasite>nav{ width:45%;margin-top: 20px;float: left;}
		footer div#mapasite>nav+nav{ width:55%;}
		footer #mapasite+div{position: static;display: block;margin: 20px auto; 
			width: 221px;height: 100px;}
		footer #mapasite+div>p{position: static;height:70px;}
		footer #mapasite+div>p+p{display: none;}
		footer #mapasite+div>p>a>img{height:50px;width: 70px;}
		
		footer #social{clear: both;width: 100%;display: block;position: relative;margin: 0 auto ;	padding: 0 0 0 0;}
	}
	@media screen and (min-width: 721px) and (max-width: 980px){
		footer{width: 810px;}
		#mapasite{margin-right: 100px;}
		#social,{ left: 100px;}
		
	}
	@media screen and (min-width: 981px) /*and (max-width: 1200px)*/{
		
	}
	
	
	
