.h1 {
    color: #339999;
    font-weight: bold;
    font-family: Verdana;
    font-size: 14px;
}
.cz {
    color: #666666;
    font-weight: bold;
    font-family: Verdana;
    font-size: 12px;
}
.eng {
    color: #0000FF;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    display: block;
}
.script{
    font-family: Verdana;
    font-size: 12px;
    display: block;
}
.wordlist{
    font-family: Verdana;
    font-size: 11px;
    display: block;
}
